


.gbutton{
    margin-right : 20px;
}

.homec{
    width: 100%;
    text-align: center;
    margin-top:250px;
}

.homeh{
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 30px;
    letter-spacing: 5px;
}


